streamlit==1.29.0
google-generativeai
python-dotenv
Pillow==10.2.0
numpy==1.26.4
requests==2.31.0
fpdf==1.7.2
gTTS==2.5.1
duckduckgo-search==3.9.5
pydicom==2.4.4
opencv-python==4.9.0.80
sentence-transformers==2.5.1
torch==2.2.0
torchvision==0.17.0
chromadb==0.4.24
PyPDF2==3.0.1
pdfminer.six==20231228
scikit-learn==1.4.0
